//Import all mixins
@import "all";

$teal: #00BFA5 !default;

//Main class
.CoverViewer
{
	//Include tool
	@include jvizTool;

	//Include cursor
	@include jvizCursor;

	//Loading
	&-loading
	{
		//Style
		display: block; z-index: 9999;

		//Loading screen
		&-screen
		{
			display: block; position: relative; transition: all 0.5s;
			top: 0px; background-color: rgba(255, 255, 255, 0.9); z-index: 99999;
		}

		//Animation
		&-anim { @include jvizAnimation($teal); }
	}

	//Navbar
	&-navbar
	{
		//Include navbar
		@include jvizToolBar;

		//Navbar Left icon button
		&-btn-left { @include jvizBtnIconLight('../img/arrows/left.svg'); float: left; }

		//Navbar Right icon button
		&-btn-right { @include jvizBtnIconLight('../img/arrows/right.svg'); float: left; }

		//Navbar Labels icon button
		&-btn-labels { @include jvizBtnIconLight('../img/labels.svg'); float: right; }
	}

	//Panels
	&-panel { @include jvizToolPanel; }

	//Track
	&-track { @include jvizToolCanvasTrack; }

	//Labels dialog
	&-labels
	{
		//Include the dialog mixin
		@include jvizDialog;

		//Row
		&-row { display: inline-block; height: 40px; line-height: 40px; width: 340px; }

		//Names
		&-names { @include jvizFontBold; font-size: 13px; }

		//Switchers
		&-switch { @include jvizSwitch; }
	}

	//Foot
	&-foot
	{
		//Style
		display: block; width: calc(100% - 20px); padding: 10px;

		//Background
		background-color: $jvizGrey8;

		//Border
		border: { radius: 5px; }

		//Margin
		margin: { top: 10px; }
	}
}
