//Screen loading mixin
@mixin jvizScreenLoading($bg: $jvizNavy, $color: $jvizWhite)
{
	//Screen
	&-screen
	{
		//Display
		display: block; width: 100%; height: 100%;

		//Position
		position: absolute; top: 0px left: 0px;

		//Background
		background-color: rgba($bg, 0.7);

		//Text
		@include jvizFontBold; color: $color;
	}

	//Animation
	&-animation { @include jvizAnimation($color); margin: { top: 100px; } }  
}
