//Body
@mixin jvizBody
{
  //Default font
  @include jvizFont; font-size: 16px; color: $jvizNavy; font-weight: normal;

  //Default margin
  margin: { top: 0px; bottom: 0px; left: 0px; right: 0px; }

  //Default padding
  padding: { top: 0px; bottom: 0px; left: 0px; right: 0px; }

  //Vertical align
  vertical-align: top;
}
