//Button mixin
@mixin jvizBtn($bg: $jvizBlue, $color: $jvizWhite)
{
  //Display
  display: inline-block; height: 30px; transition: all 0.3s;

  //Background color
  background-color: $bg;

  //Text
  color: $color; line-height: 30px; text: { align: center; decoration: none; }

  //Text font
  @include jvizFont; font-weight: bold; font-size: 14px;

  //Padding
  padding: { left: 10px; right: 10px; }

  //Border
  border-radius: 5px;

  //Margin
  margin: { top: 5px; bottom: 5px; left: 5px; right: 5px; }

  //Hover
  &:hover { cursor: hand; opacity: 0.8; text-decoration: none; }
}

//Button icon mixin
@mixin jvizBtnIcon($color1, $color2)
{
  //Display
  display: inline-block; height: 30px; width: 30px; transition: all 0.3s;

  //Border
  border-radius: 5px;

  //Background
  background: { repeat: no-repeat; position: center center; size: 26px 26px; color: $color1; }

  //Margin
  margin: { top: 0px; bottom: 0px; left: 5px; right: 5px; }

  //Hover
  &:hover { cursor: hand; background-color: $color2; }
}

//Button icon light mixin
@mixin jvizBtnIconLight(){ @include jvizBtnIcon($jvizGrey4, $jvizGrey3); }

//Button icon dark mixin
@mixin jvizBtnIconDark(){ @include jvizBtnIcon($jvizNavy2, $jvizNavy1); }

//Button icon with text
@mixin jvizBtnIconText($bg, $color: $jvizWhite)
{
  //Include the base icon
  @include jvizBtn($bg, $color);

  //Background
  background-repeat: no-repeat; background-position: 2px 2px; background-size: 26px 26px;

  //Padding
  padding: { left: 32px; }
}

//Default buttons
@mixin jvizBtnDefault
{
  //Icon buttons
  &-icon
  {
    //Light icon button
    &-light { @include jvizBtnIconLight; }

    //Dark icon button
    &-dark { @include jvizBtnIconDark; }
  }

  //Red button
  &-red { @include jvizBtn($jvizRed); }

  //Blue button
  &-blue { @include jvizBtn($jvizBlue); }

  //Navy button
  &-navy { @include jvizBtn($jvizNavy); }

  //Green button
  &-green { @include jvizBtn($jvizGreen); }

  //Grey button
  &-grey { @include jvizBtn($jvizGrey, $jvizNavy); }

  //Pink button
  &-pink { @include jvizBtn($jvizPink); }

  //White button
  &-white { @include jvizBtn($jvizWhite, $jvizNavy); }

  //Water button
  &-water { @include jvizBtn($jvizWater); }

  //Purple button
  &-purple { @include jvizBtn($jvizPurple); }

  //Orange button
  &-orange { @include jvizBtn($jvizOrange); }
}
