//Include default link style
@mixin jvizLink
{
  //Default Link
  &, &-navy { @include jvizLinkBase($jvizNavy1); }

  //Grey link
  &-grey { @include jvizLinkBase($jvizGrey1); }

  //Red link
  &-red { @include jvizLinkBase($jvizRed1); }

  //Blue link
  &-blue { @include jvizLinkBase($jvizBlue1); }

  //Pink link
  &-pink { @include jvizLinkBase($jvizPink1); }

  //Water link
  &-water { @include jvizLinkBase($jvizWater1); }

  //Green link
  &-green { @include jvizLinkBase($jvizGreen1); }

  //Purple link
  &-purple { @include jvizLinkBase($jvizPurple1); }

  //Orange link
  &-orange { @include jvizLinkBase($jvizOrange1); }

  //White link
  &-white { @include jvizLinkBase($jvizWhite); }
}

//Base link
@mixin jvizLinkBase($color: $jvizBlue2)
{
  //Default link style
  color: $color; transition: all 0.3s;

  //Font
  @include jvizFont; text-decoration: none; font-weight: bold;

  //Link hover style
  &:hover { text-decoration: underline; cursor: pointer; }
}
