//Table mixin
@mixin jvizTable
{
  //Style
  display: table; width: 100%; @include jvizFont;

  //Border
  border: { width: 0px; collapse: collapse; spacing: 0px; }

  //Table margin
  margin: { top: 0px; bottom: 20px; }

  //Table head
  & thead tr td
  {
    //Font
    font-weight: bold;

    //Background
    background-color: $jvizGrey2;

    //Padding
    padding: { top: 10px; bottom: 10px; left: 10px; }
  }

  //Table row
  & tbody tr td { padding: { top: 10px; bottom: 10px; left: 10px; } }

  //Even rows
  & tbody tr:nth-child(even) { background-color: $jvizGrey3; }

  //Odd rows
  & tbody tr:nth-child(odd) { background-color: $jvizGrey4; }

  //Table head border td first child
  & thead tr td:first-child { border-top-left-radius: 5px; }

  //Table head border td last child
  & thead tr td:last-child { border-top-right-radius: 5px; }
  
  //Table last tr first td
  & tbody tr:last-child td:first-child { border-bottom-left-radius: 5px; }

  //Table last tr last td
  & tbody tr:last-child td:last-child { border-bottom-right-radius: 5px; }
}
