//jviz layout components app dashboard
@mixin jvizLayoutComponentsApp
{
	//Display
	display: block; width: 960px; vertical-align: top;

	//Margin
	margin: { top: 20px; bottom: 30px; left: auto; right: auto; }

	//App full width
	&-full { width: 1180; }

	//Full width main width
	&-full > &-main { width: 960px; }

	//App panel
	&-panel
	{
		//Display
		display: inline-block; width: 210px; float: left; vertical-align: top;

		//Margin
		margin: { top: 0px; bottom: 0px; }

		//Panel placed left
		&-left { margin: { right: 10px; left: 0px; } }

		//Panel placed right
		&-right { margin: { right: 0px; left: 10px; } }

		//Panel box
		&-box
		{
			//Display
			display: block; width: calc(100% - 20px); vertical-align: top;

			//Background
			background-color: $jvizGrey4;

			//Border
			border-radius: 5px;

			//Padding
			padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

			//Margin
			margin: { top: 0px; bottom: 15px; left: auto; right: auto; }

			//Space
			&-space { display: block; width: 100%; height: 15px; }

			//Title
			&-title { @include jvizFontBold; font-size: 18px; margin: { bottom: 8px; } }

			//Subtitle
			&-subtitle { @include jvizFontBold; font-size: 15px; margin: { bottom: 8px; } }

			//Panel description
			&-description { margin: { bottom: 8px; } }

			//Input
			&-input
			{
				//Include the form default style
				@include jvizFormInput;

				//Update the background color
				background-color: $jvizWhite;

				//Update the width
				width: 100%;

				//Update the margin
				margin: { top: 0px; bottom: 10px; left: 0px; right: 0px; }
			}

			//Button
			&-btn { @include jvizFormBtnBlue; margin: { left: 0px; right: auto; bottom: 10px; top: 0px; } }
		}
	}

	//Main
	&-main
	{
		//Display
		display: inline-block; width: 740px; float: left; vertical-align: top;

		//Margin
		margin: { top: 0px; bottom: 0px; left: 5px; right: 5px; }

		//Main box
		&-box
		{
			//Display
			display: block; width: calc(100% - 20px); vertical-align: top;

			//Background
			background-color: $jvizGrey4;

			//Border
			border-radius: 5px;

			//Padding
			padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

			//Margin
			margin: { top: 0px; bottom: 15px; left: auto; right: auto; }

			//Title
			&-title { @include jvizFontBold; font-size: 15px; margin: { bottom: 8px; } }

			//Panel description
			&-description { margin: { bottom: 8px; } }
		}
	}

	//App after
	&:after { content: " "; clear: both; display: table; line-height: 0; }
}
