//jviz layout components jumbotron
@mixin jvizLayoutComponentsJumbotron($bg: $jvizNavy, $text: $jvizWhite)
{
	//Display
	display: block; width: 100%;

	//Padding
	padding: { top: 200px; bottom: 200px; }

	//Background
	background-color: $bg;

	//jumbotron title
	&-title
	{
		//Display
		display: block; width: 960px; line-height: 60px;

		//Font
		@include jvizFontBold; font-size: 50px; color: $text;

		//Margin
		margin: { left: auto; right: auto; top: 0px; bottom: 0px; }
	}

	//Jumbotron subtitle
	&-subtitle
	{
		//Display
		display: block; width: 960px; line-height: 30px;

		//Font
		@include jvizFontNormal; font-size: 20px; color: $text;

		//Margin
		margin: { left: auto; right: auto; top: 10px; bottom: 10px; }
	}
}
