//Dialog mixin
@mixin jvizUiDialog()
{
  //Panel width
  $panelWidth: 680px !default;

  //Main style
  display: none; width: 100%; height: 100%;

  //Position
  position: fixed; top: 0px; left: 0px; z-index: 3000;

  //Background
  background-color: rgba($jvizNavy2, 0.7);

  //Panel
  &-panel
  {
    //Display
    display: block; width: $panelWidth;

    //Margin
    margin: { left: auto; right: auto; top: 100px; }

    //Panel head
    &-head
    {
      //Display
      display: block; width: $panelWidth; height: 30px;

      //Padding
      padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

      //Margin
      margin: { left: auto; right: auto; }

      //Background
      background-color: $jvizNavy1;

      //Text
      @include jvizFont; font-weight: bold; color: $jvizWhite; font-size: 14px;

      //Border
      border: { top-left-radius: 5px; top-right-radius: 5px; }

      //Title
      &-title
      {
        //Display
        display: inline-block; height: 30px; line-height: 30px;

        //Title font
        @include jvizFont; font-weight: bold; font-size: 14px;
      }

      //Close button
      &-close
      {
        //Display
        display: inline-block; width: 30px; height: 30px; cursor: hand; float: right;

        //Background image
        background-image: url('./img/close.svg');

        //Background
        background: { position: center center; size: 26px 26px; repeat: no-repeat; }

        //Background color
        background-color: $jvizNavy2;

        //Border
        border-radius: 5px;

        //Transition
        transition: all 0.3s;

        //Close hover
        &:hover { background-color: $jvizNavy3; }
      }
    }

    //Panel body
    &-body
    {
      //Display
      display: inline-block; width: $panelWidth;

      //Padding
      padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

      //Margin
      margin: { left: auto; right: auto; }

      //Border
      border: { bottom-left-radius: 5px; bottom-right-radius: 5px; }

      //Background
      background-color: $jvizGrey4;

      //Row
      &-row
      {
        //Display
        display: block; width: 100%; min-height: 30px;

        //Padding
        padding: { top: 5px; bottom: 5px; }

        //Row after
        &:after { content: " "; clear: both; display: table; line-height: 0; }
      }

      //Column default style
      &-col-1, &-col-2, &-col-3
      {
        //Display
        display: inline-block; height: 30px; line-height: 30px; float: left;

        //Border
        border-radius: 5px;

        //Background color
        background-color: $jvizGrey3;

        //Padding
        padding: { left: 5px; right: 5px; top: 5px; bottom: 5px; }

        //Margin
        margin: { top: 5px; bottom: 5px; }

        //Hover
        &:hover { background-color: $jvizGrey2; }
      }

      //Column 3
      &-col-3
      {
        //Size
        width: 210px;

        //Margin
        margin: { right: 10px; }

        //Third child
        &:nth-child(3) { margin: { right: 0px; } }
      }

      //Column 2
      &-col-2
      {
        //Size
        width: 325px;

        //Margin
        margin: { right: 10px; }

        //Last child
        &:nth-child(2) { margin: { right: 0px; } }
      }

      //Column 1
      &-col-1 { width: 670px; }
    }
  }
}
