//jviz Alert mixin
@mixin jvizAlert
{
	//Display
	display: block; width: 555px; height: 40px; line-height: 40px; transition: all 0.2s;

	//Position
	position: fixed; top: -50px; left: calc(50% - 300px); z-index: 4000;

	//Border
	border-radius: 5px;

	//Background
	background-repeat: no-repeat; background-position: 5px 5px; background-size: 30px 30px;

	//Padding
	padding: { left: 45px; right: 0px; top: 0px; bottom: 0px; }

	//Alert done
	&-done { background-color: $jvizGreen3; background-image: url(jvizIcon('completed', 'white')); }

	//Alert warning
	&-warning { background-color: $jvizOrange3; background-image: url(jvizIcon('warning', 'white')); }

	//Alert error
	&-error { background-color: $jvizRed3; background-image: url(jvizIcon('error', 'white')); }

	//Open class
	&-open { top: 20px; }

	//Text
	&-text { @include jvizFontBold; font-size: 14px; color: $jvizWhite; }
}
