//jviz Cursor styles
@mixin jvizCursor
{
  //Cursor move
  &-move { cursor: move; }

  //Cursor hand
  &-hand { cursor: pointer; }

  //Cursor pointer
  &-pointer { cursor: pointer }

  //Cursor col resize
  &-col-resize { cursor: col-resize; }

  //Cursor row resize
  &-row-resize { cursor: row-resize; }
}
