//Include default typography
@mixin jvizTypography
{
  //Text bold
  &-bold, &-strong, &-b { @include jvizTypographyBold; }

  //Text small
  &-small { @include jvizTypographySmall; }

  //Link
  &-link, &-a { @include jvizTypographyLink; }

  //Header 1
  &-header1, &-header-1, &-h1 { @include jvizTypographyHeader1; }

  //Header 2
  &-header2, &-header-2, &-h2 { @include jvizTypographyHeader2; }

  //Header 3
  &-header3, &-header-3, &-h3 { @include jvizTypographyHeader3; }

  //Header 4
  &-header4, &-header-4, &-h4 { @include jvizTypographyHeader4; }

  //Header 5
  &-header5, &-header-5, &-h5 { @include jvizTypographyHeader5; }

  //Header 6
  &-header6, &-header-6, &-h6 { @include jvizTypographyHeader6; } 
}

//Base typography link
@mixin jvizTypographyLink
{
  //Default link style
  transition: all 0.3s;

  //Font
  @include jvizFont; text-decoration: none; font-weight: bold;

  //Link hover style
  &:hover { text-decoration: underline; cursor: pointer; }
}

//Typography bold
@mixin jvizTypographyBold { @include jvizFont; font-weight: bold; }

//Typography small text
@mixin jvizTypographySmall { @include jvizFont; font-size: 12px; color: $jvizNavy2; }

//Typography header
@mixin jvizTypographyHeader { @include jvizFont; font-weight: bold; display: block; margin: { bottom: 15px; } }

//Typography header 1
@mixin jvizTypographyHeader1 { @include jvizTypographyHeader; font-size: 36px; line-height: 42px; }

//Typography header 2
@mixin jvizTypographyHeader2 { @include jvizTypographyHeader; font-size: 30px; line-height: 36px; }

//Typography header 3
@mixin jvizTypographyHeader3 { @include jvizTypographyHeader; font-size: 24px; line-height: 30px; }

//Typography header 4
@mixin jvizTypographyHeader4 { @include jvizTypographyHeader; font-size: 22px; line-height: 24px; }

//Typography header 5
@mixin jvizTypographyHeader5 { @include jvizTypographyHeader; font-size: 20px; line-height: 22px; }

//Typography header 6
@mixin jvizTypographyHeader6 { @include jvizTypographyHeader; font-size: 18px; line-height: 20px; }
