//jviz Form label
@mixin jvizFormLabel
{
	//Display
	display: inline-block;

	//Size
	height: 30px; line-height: 30px !important;

	//Font
	text-decoration: none; @include jvizFontBold; font-size: 14px; color: $jvizNavy;

	//Margin
	margin: { top: 0px; bottom: 0px; left: 10px; right: 10px; }
}
