//Textarea mixin
@mixin jvizFormTextarea($bg: $jvizGrey4)
{
	//Style
	display: inline-block; line-height: 20px;

	//Font
	@include jvizFontNormal; font-size: 14px; color: $jvizNavy;

	//Border
	border: 0px; border-radius: 5px; outline: 0px;

	//Background
	background-color: $bg;

	//Margin
	margin: { top: 0px; bottom: 10px; left: 10px; right: 10px; }

	//Padding
	padding: { top: 5px; bottom: 5px; left: 10px; right: 10px; }
}

//Textarea full
@mixin jvizFormTextareaFull($bg: $jvizGrey4)
{
	//Set the width
	width: calc(100% - 20px);

	//Include the default textarea
	@include jvizFormTextarea($bg);
}
