//Layout for dashboard
@mixin jvizLayoutDashboard
{
	//Display
	display: block; vertical-align: top;

	//Font
	@include jvizFontNormal; font-size: 14px;

	//Size
	width: 100%; height: 100%;

	//Padding
	padding: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Margin
	margin: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Panel
	&-panel
	{
		//Display
		display: inline-block; overflow-y: auto; vertical-align: top;

		//Size
		width: 220px; height: calc(100% - 0px); line-height: 20px;

		//Colors
		background-color: $jvizGrey3; color: $jvizWhite;

		//Padding
		padding: { left: 0px; right: 0px; top: 0px; }

		//Panel Logo
		&-logo
		{
			//Display
			display: block; cursor: hand; transition: all 0.3s;

			//Size
			height: 50px; width: 100%; line-height: 50px;

			//Font
			@include jvizFontBold; font-size: 22px; text: { decoration: none; align: center; }

			//Background
			background-color: $jvizGrey2;

			//Margin
			margin: { top: 0px; bottom: 15px; }

			//Logo hover
			&:hover { text-decoration: none; color: rgba($jvizWhite, 0.6); }
		}

		//Panel text
		&-text
		{
			//Display
			display: block; width: calc(100% - 20px); line-height: 20px;

			//Padding
			padding: { left: 10px; right: 10px; top: 0px; bottom: 0px; }

			//Margin
			margin: { left: auto; right: auto; top: 15px; bottom: 15px; }
		}

		//Panel box
		&-box
		{
			//Display
			display: block; width: calc(100% - 40px); line-height: 20px;

			//Background
			background-color: $jvizGrey2;

			//Font
			font-size: 14px;

			//Margin
			margin: { left: auto; right: auto; top: 15px; bottom: 15px; }

			//Padding
			padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

			//Border
			border: { radius: 5px; }
		}

		//Panel link
		&-link
		{
			//Display
			display: block; width: calc(100% - 35px); cursor: hand; transition: all 0.3s;

			//Text
			text-decoration: none; color: $jvizWhite;

			//Padding
			padding: { top: 6px; bottom: 6px; left: 10px; right: 5px; }

			//Margin
			margin: { top: 0px; bottom: 5px; left: auto; right: auto; }

			//Border
			border: { radius: 5px; }

			//Background
			background-color: rgba($jvizGrey2, 0.3);

			//Link hover
			&:hover { text-decoration: none; background-color: rgba($jvizGrey2, 0.7); }

			//Last child
			&:last-child { margin: { bottom: 15px; } }
		}
	}

	//Main content
	&-main
	{
		//Display
		display: inline-block; vertical-align: top;

		//Overflow
		overflow-y: scroll; overflow-x: hidden;

		//Size
		width: calc(100% - 255px); height: calc(100% - 30px);

		//Padding
		padding: { left: 15px; right: 15px; top: 10px; bottom: 20px; }

		//Background
		background-color: $jvizWhite;

		//Main bar
		&-bar
		{
			//Display
			display: block; position: fixed; top: 0px; left: 220px;

			//Size
			width: calc(100% - 235px); height: 50px; line-height: 50px;

			//Background
			background-color: $jvizGrey4;
		}

		//Main bar space
		&-bar-space { display: block; width: 100%; height: 50px; }
	}
}
