//jviz One page layout
@mixin jvizLayoutOnepage
{
	//Display
	display: block; vertical-align: top;

	//Font
	@include jvizFontNormal; font-size: 14px;

	//Size
	width: 100%; height: 100%;

	//Padding
	padding: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Margin
	margin: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Navbar
	&-navbar { @include jvizLayoutComponentsNavbar($jvizBlueList, $jvizWhite); }

	//Jumbotron
	&-jumbotron { @include jvizLayoutComponentsJumbotron; }

	//Main content
	&-main { @include jvizLayoutComponentsMain; }

	//Foot
	&-foot { @include jvizLayoutComponentsFoot; }
}
