//Tool Navbar mixin
@mixin jvizToolNavbar
{
	//Navbar display
	display: block;

	//Navbar height
	height: 30px; line-height: 30px;

	//Navbar padding
	padding: { top: 10px; bottom: 10px; }
}

//Tool Navbar Icon
@mixin jvizToolNavbarIcon($img)
{
	//Display
	display: inline-block; height: 30px; width: 30px; transition: all 0.3s;

	//Border
	border-radius: 5px;

	//Background image
	background-image: url($img);

	//Background
	background: { repeat: no-repeat; position: center center; size: 30px 30px; color: $sfyGrey8; }

	//Margin
	margin: { top: 0px; bottom: 0px; left: 5px; right: 5px; }

	//Hover
	&:hover { cursor: hand; background-color: $sfyGrey6; }
}
