//Panel mixin
@mixin jvizPanel
{
	//Set display
	display: block;

	//Width
	width: 100%;

	//Border
	border-radius: 5px;

	//Background
	background-color: $sfyGrey8;

	//Margin
	margin: { bottom: 10px; }
}
