//Panel mixin
@mixin jvizToolPanel
{
	//Set display
	display: block;

	//Width
	width: 100%;

	//Border
	border-radius: 5px;

	//Background
	background-color: $jvizGrey4;

	//Margin
	margin: { bottom: 10px; }
}
