//jviz Tool mixin
@mixin jvizTool
{
	//App style
	display: block;  overflow: hidden; color: $jvizGrey1;

	//Padding
	padding: { top: 5px; left: 5px; bottom: 5px; right: 5px; }

	//Font style
	@include jvizFontNormal;

	//Border
	&-border { border: 1px solid $jvizGrey1; border-radius: 5px; }
}
