//Import partials
@import "../animation";

//Tool Track mixin
@mixin jvizToolTrack
{
	//Track style
	display: block; width: 100%; position: relative; min-height: 30px;

	//Track closed
	&-closed > &-head &-head-arrow { transform: rotate(180deg); }

	//Tracks head
	&-head
	{
		//Include head style
		@include jvizToolTrackHead;

		//Track title
		&-title
		{
			//Include head button mixin
			@include jvizToolTrackHeadBtn;

			//Float
			float: left;

			//Track subtitle
			&-subtitle
			{
				//Include light text
				@include jvizFontLight;

				//text size
				font-size: 12px;

				//Subtitle margin
				margin: { left: 10px; }
			}
		}

		//Track loading
		&-loading
		{
			//Animation div
			&-animation
			{
				//Include the default animation
				@include jvizAnimation;

				//Update the middle circle width and height
				width: 8px; height: 8px;

				//Update the left circle width and height
				&:before { width: 8px; height: 8px; left: -12px; }

				//Update the right circle width and height
				&:after { width: 8px; height: 8px; left: 12px;}

				//Update the margin top
				margin-top: 7px;
			}

			//Include the head button
			@include jvizToolTrackHeadBtn;

			//Update the loading width
			width: 35px;
		}

		//Action button
		&-action
		{
			//Include the head button
			@include jvizToolTrackHeadBtn;

			//Change the background color
			background-color: $jvizRed;

			//Update the font style
			font-weight: bold; color: $jvizWhite;

			//Update the position
			float: right;

			//Hover style
			&:hover { opacity: 0.8; }
		}

		//Track arrow for close
		&-arrow { @include jvizToolTrackHeadIcon; float: left; background-image: url('../img/arrows/up.svg'); }
	}

	//Track body
	&-body { display: block; padding-top: 30px; }
}

//Mixin for track head
@mixin jvizToolTrackHead
{
	//Navbar style
	display: block; width: calc(100% - 10px);

	//Position
	position: absolute; top: 0px; left: 0px; z-index: 999999;

	//Padding
	padding: { left: 5px; right: 5px; }

	//Head height
	height: 30px; line-height: 30px;
}

//Mixin for track head button
@mixin jvizToolTrackHeadBtn
{
	//Display
	display: inline-block; cursor: hand;

	//Size
	height: 22px; line-height: 22px;

	//Font
	@include jvizFontBold; font-size: 13px;

	//Padding
	padding: { left: 8px; right: 8px; }

	//Transition
	transition: all 0.3s;

	//Background
	background-color: $jvizGrey6;

	//Margin
	margin: { top: 4px; right: 5px; }

	//Border
	border: { radius: 5px; }
}

//Mixin for track head icon
@mixin jvizToolTrackHeadIcon
{
	//Import mixin
	@include jvizToolTrackHeadBtn;

	//Size
	width: 22px;

	//Padding
	padding: 0px !important;

	//Background
	background: { size: 20px 20px; position: center center; repeat: no-repeat; }
}
