//jviz jumbotron title
@mixin jvizLayoutJumbotronTitle($color: $jvizWhite)
{
  //Display
  display: block; line-height: 60px;

  //Font
  @include jvizFont; font-weight: bold; font-size: 50px; color: $color;

  //Margin
  margin: { top: 0px; bottom: 0px; }
}

//jviz Jumbotron subtitle
@mixin jvizLayoutJumbotronSubtitle($color: $jvizWhite)
{
  //Display
  display: block; line-height: 40px;

  //Font
  @include jvizFont; font-size: 30px; color: $color;

  //Margin
  margin: { top: 10px; bottom: 10px; }
}

//jviz Jumbotron description
@mixin jvizLayoutJumbotronDescription($color: $jvizWhite)
{
  //Display
  display: block; line-height: 30px;

  //Font
  @include jvizFont; font-size: 20px; color: $color;

  //Margin
  margin: { top: 10px; bottom: 10px; }
}

//jviz layout jumbotron
@mixin jvizLayoutJumbotronBase()
{
  //Display
  display: block; width: 960px;

  //Padding
  padding: { top: 120px; bottom: 160px; left: calc(50% - 480px); right: calc(50% - 480px); }

  //Jumbotron xxl
  &-xxl
  {
    //Display
    width: 1180px;

    //Update the padding
    padding: { left: calc(50% - 590px); right: calc(50% - 590px); }
  }

  //Jumbotron fluid
  &-fluid
  {
    //Width
    width: calc(100% - 30px);

    //Padding
    padding: { left: 15px; right: 15px; }
  }
}

//Jumbotron basic style
@mixin jvizLayoutJumbotron
{
  //Default jumbotron style
  @include jvizLayoutJumbotronBase;

  //Title
  &-title
  {
    //Default title style
    @include jvizLayoutJumbotronTitle;

    //White title
    &-white { @include jvizLayoutJumbotronTitle; }

    //Navy title
    &-navy { @include jvizLayoutJumbotronTitle($jvizNavy); }
  }

  //Subtitle
  &-subtitle
  {
    //Default subtitle style
    @include jvizLayoutJumbotronSubtitle;

    //White subtitle
    &-white { @include jvizLayoutJumbotronSubtitle; }

    //Navy subtitle
    &-navy { @include jvizLayoutJumbotronSubtitle($jvizNavy); }
  }

  //Description
  &-description
  {
    //Default description style
    @include jvizLayoutJumbotronDescription;

    //White description
    &-white { @include jvizLayoutJumbotronDescription; }

    //Navy description
    &-navy { @include jvizLayoutJumbotronDescription($jvizNavy); }
  }

  //Navy jumbotron
  &-navy { background-color: $jvizNavy; }

  //Grey jumbotron
  &-grey { background-color: $jvizGrey; }

  //Red jumbotron
  &-red { background-color: $jvizRed; }

  //Blue jumbotron
  &-blue { background-color: $jvizBlue; }

  //Pink jumbotron
  &-pink { background-color: $jvizPink; }

  //Green jumbotron
  &-green { background-color: $jvizGreen; }

  //Water jumbotron
  &-water { background-color: $jvizWater; }

  //Orange jumbotron
  &-orange { background-color: $jvizOrange; }

  //Purple jumbotron
  &-purple { background-color: $jvizPurple; }

  //White jumbotron
  &-white { background-color: $jvizWhite; }
}
