//Panel mixin
@mixin jvizLayoutPanel
{
  //Display
  display: inline-block; width: calc(100% - 20px);

  //Padding
  padding: { top: 25px; bottom: 25px; left: 10px; right: 10px; }

  //Margin
  margin: { top: 10px; bottom: 10px; left: auto; right: auto; }

  //Panel before
  &:before { content: ""; display: table; }

  //Panel after .
  &:after { content: ""; display: table; clear: both; }

  //Panel description
  &-description
  {
    //Style
    display: block; width: 25%; vertical-align: top;

    //Position
    position: relative; float: left;
  }

  //Panel content
  &-content
  {
    //Style
    display: block; width: calc(66.66667% - 15px); vertical-align: top;

    //Position
    position: relative; float: left;

    //Margin
    margin: { left: 8.33333%; }

    //Padding
    padding: { left: 15px; right: 0px; }
  }

  //Panel title
  &-title { display: block; @include jvizFont; font-weight: bold; font-size: 16px; margin: { bottom: 10px; } }

  //Panel detail
  &-detail { display: block; @include jvizFont; font-size: 14px; line-height: 20px; margin: { bottom: 10px; } }

  //Panel small text
  &-small { display: block; @include jvizFont; font-size: 12px; margin: { bottom: 5px; } }

  //Panel group
  &-group { @include jvizComponentsGroup; }

  //Panel box
  &-box
  {
    //Style
    display: block; width: calc(100% - 42px);

    //Border
    border: 1px solid $jvizGrey; border-radius: 5px;

    //Text
    color: $jvizNavy3; font-size: 14px;

    //Padding
    padding: { top: 15px; bottom: 15px; left: 15px; right: 15px; }

    //Margin
    margin: { left: 5px; right: 5px; top: 15px; bottom: 15px; }
  }

  //Rule
  &-hr, &-rule { display: block; width: 100%; border-bottom: 1px solid $jvizGrey4; height: 0px; }
}
