//Panel mixin
@mixin jvizLayoutPanel
{
  //Display
  display: inline-block; width: calc(100% - 20px);

  //Border
  border: { bottom: 1px solid $jvizGrey4; }

  //Padding
  padding: { top: 25px; bottom: 25px; left: 10px; right: 10px; }

  //Margin
  margin: { top: 10px; bottom: 10px; left: auto; right: auto; }

  //Panel description
  &-description
  {
    //Description style
    display: inline-block; width: 320px; float: left; vertical-align: top;
  }

  //Panel content
  &-content
  {
    //Content style
    display: inline-block; width: calc(100% - 350px); float: right; vertical-align: top;
  }

  //Panel title
  &-title { display: block; @include jvizFont; font-weight: bold; font-size: 15px; margin: { bottom: 5px; } }

  //Panel small text
  &-small { display: block; @include jvizFont; font-size: 13px; margin: { bottom: 5px; } }

  //Panel input
  &-input { @include jvizInput; width: calc(100% - 10px); margin: { left: 5px; bottom: 15px; top: 5px; } }

  //Panel box
  &-box
  {
    //Style
    display: block; width: calc(100% - 42px);

    //Border
    border: 1px solid $jvizGrey; border-radius: 5px;

    //Text
    color: $jvizNavy3; font-size: 14px; 

    //Padding
    padding: { top: 15px; bottom: 15px; left: 15px; right: 15px; }

    //Margin
    margin: { left: 5px; right: 5px; top: 15px; bottom: 15px; }
  }
}
