//Animation mixin
@mixin jvizComponentsAnimation($color: $jvizBlue)
{
  //Get a random string
  $rand: str-rand(10);

  //Animation load
  $aload: 'animation_' + $rand + '_load';

  //Keyframes for load animation
  @keyframes #{$aload} { 0%, 80%, 100% { background-color: $color; } }
  @keyframes #{$aload} { 40% { background-color: $color; } }

  //Include the default animation
  @include jviz_animation($aload);

  //Position
  position: relative;

  //Text style for animation
  text-indent: -9999em; font-size: 10px;

  //Animation style
  transform: translateZ(0); animation-delay: -0.2s;

  //Margin
  margin: { left: auto; right: auto; top: 0px; }

  //Animation before
  &:before { @include jviz_animation($aload); left: -15px; animation-delay: -0.4s; position: absolute; top: 0; }

  //Animation after
  &:after { @include jviz_animation($aload); left: 15px; position: absolute; top: 0; }
}

//Loading animation mixin
@mixin jviz_animation($aload)
{
  //Circle styles
  border-radius: 100px; width: 10px; height: 10px;

  //Animation style
  animation: #{$aload} 1.2s infinite ease-in-out; animation-fill-mode: both;

  //Content
  content: '';
}

//Animation default styles
@mixin jvizComponentsAnimationDefault
{
  //Navy animation
  &-navy { @include jvizComponentsAnimation($jvizNavy); }

  //Grey animation
  &-grey { @include jvizComponentsAnimation($jvizGrey); }

  //Red animation
  &-red { @include jvizComponentsAnimation($jvizRed); }

  //Blue animation
  &-blue { @include jvizComponentsAnimation($jvizBlue); }

  //Pink animation
  &-pink { @include jvizComponentsAnimation($jvizPink); }

  //Water animation
  &-water { @include jvizComponentsAnimation($jvizWater); }

  //Green animation
  &-green { @include jvizComponentsAnimation($jvizGreen); }

  //Purple animation
  &-purple { @include jvizComponentsAnimation($jvizPurple); }

  //Orange animation
  &-orange { @include jvizComponentsAnimation($jvizOrange); }

  //White animation
  &-white { @include jvizComponentsAnimation($jvizWhite); }
}
