//Loading base
@mixin jvizComponentsLoadingBase
{
  //Display
  display: block; width: 100%; height: 100%;

  //Position
  position: fixed; top: 0px; left: 0px; z-index: 5000;
}

//Loading text
@mixin jvizComponentsLoadingTitle
{
  //Style
  display: inline-block; width: 100%;

  //Text
  text-align: center; @include jvizFont; font-weight: bold; font-size: 14px;

  //Margin
  margin: { top: 20px; }
}

//Loading animation
@mixin jvizComponentsLoadingAnimation($color: $jvizWhite)
{
  //Include the animation
  @include jvizComponentsAnimation($color); margin: { top: 100px; }
}

//Loading mixin
@mixin jvizComponentsLoading()
{
  //Include the loading base
  @include jvizComponentsLoadingBase;

  //Loading title
  &-title
  {
    //Default text
    @include jvizComponentsLoadingTitle;

    //White text
    &-white { @include jvizComponentsLoadingTitle; color: $jvizWhite; }

    //Navy text
    &-navy { @include jvizComponentsLoadingTitle; color: $jvizNavy; }
  }

  //Animation
  &-animation
  {
    //Default animation
    @include jvizComponentsLoadingAnimation;

    //White animation
    &-white { @include jvizComponentsLoadingAnimation($jvizWhite); }

    //Navy animation
    &-navy { @include jvizComponentsLoadingAnimation($jvizNavy); }
  }

  //Navy loading
  &-navy { background-color: rgba($jvizNavy, 0.7); }

  //Grey loading
  &-grey { background-color: rgba($jvizGrey, 0.7); }

  //Red loading
  &-red { background-color: rgba($jvizRed, 0.7); }

  //Blue loading
  &-blue { background-color: rgba($jvizBlue, 0.7); }

  //Pink loading
  &-pink { background-color: rgba($jvizPink, 0.7); }

  //Water loading
  &-water { background-color: rgba($jvizWater, 0.7); }

  //Green loading
  &-green { background-color: rgba($jvizGreen, 0.7); }

  //Orange loading
  &-orange { background-color: rgba($jvizOrange, 0.7); }

  //Purple loading
  &-purple { background-color: rgba($jvizPurple, 0.7); }

  //White loading
  &-white { background-color: rgba($jvizWhite, 0.7); }
}
