//jviz Tooltip mixin
@mixin jvizComponentsTooltip
{
  //Position
  position: absolute; z-index: 2000;

  //Background color
  background-color: $jvizNavy;

  //Border radius
  border-radius: 5px;

  //Padding
  padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

  //Triangle
  &-triangle
  {
    //Display
    display: inline-block; width: 0px; height: 0px;

    //Position
    position: absolute; top: -6px; left: 0px;

    //Border
    border: { right: 6px solid transparent; bottom: 6px solid $jvizNavy; left: 6px solid transparent; }
  }

  //Content
  &-content { @include jvizFont; color: $jvizWhite; font-size: 12px; }

  //Content rule
  &-content hr
  {
    //Display
    border: 0px; height: 1px;

    //Background color
    background-color: rgba($jvizWhite, 0.8);

    //Margin
    margin: { top: 2px; bottom: 3px; }
  }

  //Content bold text
  &-content b { @include jvizFont; font-weight: bold; color: $jvizWhite; font-size: 12px; }

  //Content links
  &-content a { @include jvizFont; font-weight: bold; color: $jvizWhite; text-decoration: underline; font-size: 12px; }
}
