//jviz Base Typography
@mixin jvizBaseTypography
{
	//List
	ul, ol { @include jvizBaseTypographyList; }

	//Bold
	b { @include jvizBaseTypographyBold; }

	//Paragraph
	p { @include jvizBaseTypographyParagraph; }

	//Small text
	small { @include jvizBaseTypographySmall; }

	//Header 1
	h1 { @include jvizBaseTypographyHeader1; }

	//Header 2
	h2 { @include jvizBaseTypographyHeader2; }

	//Header 3
	h3 { @include jvizBaseTypographyHeader3; }

	//Header 4
	h4 { @include jvizBaseTypographyHeader4; }

	//Header 5
	h5 { @include jvizBaseTypographyHeader5; }

	//Header 6
	h6 { @include jvizBaseTypographyHeader6; }
}

//Base typography lists
@mixin jvizBaseTypographyList
{
	//line height
	line-height: 20px;

	//Margin
	margin: { bottom: 16px; top: 0px; }

	//Element
	& li
	{
		//Line Height
		line-height: 25px;
	}
}

//Base typography bold
@mixin jvizBaseTypographyBold { @include jvizFont; font-weight: bold; }

//Base typography paragraph
@mixin jvizBaseTypographyParagraph { @include jvizFont; line-height: 20px; margin: { bottom: 15px; top: 0px; } display: block; }

//Base typography small text
@mixin jvizBaseTypographySmall { @include jvizFont; font-size: 12px; }

//Base typography header
@mixin jvizBaseTypographyHeader { @include jvizFont; font-weight: bold; display: block; margin: { bottom: 15px; } }

//Base typography header 1
@mixin jvizBaseTypographyHeader1 { @include jvizBaseTypographyHeader; font-size: 36px; line-height: 42px; }

//Base typography header 2
@mixin jvizBaseTypographyHeader2 { @include jvizBaseTypographyHeader; font-size: 30px; line-height: 36px; }

//Base typography header 3
@mixin jvizBaseTypographyHeader3 { @include jvizBaseTypographyHeader; font-size: 24px; line-height: 30px; }

//Base typography header 4
@mixin jvizBaseTypographyHeader4 { @include jvizBaseTypographyHeader; font-size: 22px; line-height: 24px; }

//Base typography header 5
@mixin jvizBaseTypographyHeader5 { @include jvizBaseTypographyHeader; font-size: 20px; line-height: 22px; }

//Base typography header 6
@mixin jvizBaseTypographyHeader6 { @include jvizBaseTypographyHeader; font-size: 18px; line-height: 20px; }
