//Grey colors
$jvizGrey1: #4a526c !default;
$jvizGrey2: #606c89 !default;
$jvizGrey3: #8793b3 !default;
$jvizGrey4: #b7c5d8 !default;
$jvizGrey5: #dbe6f0 !default;
$jvizGrey6: #e2ebf4 !default;
$jvizGrey7: #e8edf5 !default;
$jvizGrey8: #f0f5fb !default;

//Default colors
$jvizNavy: #4a526c !default;
$jvizGrey: #dbe6f0 !default;
$jvizRed: #ea685a !default;
$jvizBlue: #38b1eb !default;
$jvizPink: #f45b93 !default;
$jvizWhite: #ffffff !default;
$jvizWater: #18d2ba !default;
$jvizGreen: #67ba2f !default;
$jvizPurple: #b490f5 !default;
$jvizOrange: #ed9e48 !default;
