//Navy base color
$jvizNavy: #4a526c !default;

//Navy colors
$jvizNavy1: #4a526c !default;
$jvizNavy2: #606c89 !default;
$jvizNavy3: #8793b3 !default;
$jvizNavy4: #b7c5d8 !default;

//Navy colors list
$jvizNavyList: #4a526c, #606c89, #8793b3, #b7c5d8;

//Grey base color
$jvizGrey: #dbe6f0 !default;

//Grey colors
$jvizGrey1: #dbe6f0 !default;
$jvizGrey2: #e2ebf4 !default;
$jvizGrey3: #e8edf5 !default;
$jvizGrey4: #f0f5fb !default;

//Grey color list
$jvizGreyList: #dbe6f0, #e2ebf4, #e8edf5, #f0f5fb;

//Red colors
$jvizRed: #ea685a !default;

//Blue colors
$jvizBlue: #38b1eb !default;

//Pink colors
$jvizPink: #f45b93 !default;

//Water colors
$jvizWater: #18d2ba !default;

//Green colors
$jvizGreen: #67ba2f !default;

//Purple colors
$jvizPurple: #b490f5 !default;

//Orange colors
$jvizOrange: #ed9e48 !default;

//White color
$jvizWhite: #ffffff !default;
