//Mixin for light font
@mixin jvizFontLight { font-family: 'Quicksand-Light'; font-weight: 300; }

//Mixin for regular/normal font
@mixin jvizFontNormal { font-family: 'Quicksand'; font-weight: normal; }

//Mixin for bold font
@mixin jvizFontBold { font-family: 'Quicksand-Bold'; font-weight: bold; }
