//jviz icons url
$jviz_icons_url: 'https://nodebio.github.io/jviz-icons/svg/{color}/{icon}.svg' !default;

//Icon function
@function jvizIcon($icon, $color: 'navy')
{
	//Convert the icon to lower case
	$icon: to-lower-case($icon);

	//Convert the color to lower case
	$color: to-lower-case($color);

	//Replace the color
	$url: str-replace($jviz_icons_url, '{color}', $color);

	//Replace the icon
	$url: str-replace($url, '{icon}', $icon);

	//Return the icon source
	@return $url;
}
