//jviz icons url
$jviz_icons_url: 'https://cdn.juanes.xyz/images/jviz-icons/svg/{COLOR}/{ICON}.svg' !default;

//Icon function
@function jvizIcon($icon, $color: 'navy')
{
	//Convert the icon to lower case
	$icon: to-lower-case($icon);

	//Convert the color to lower case
	$color: to-lower-case($color);

	//Replace the color
	$url: str-replace($jviz_icons_url, '{COLOR}', $color);

	//Replace the icon
	$url: str-replace($url, '{ICON}', $icon);

	//Return the icon source
	@return $url;
}
